<div class="main">

    <div class="formulario">

        <div class="iconeVoltar">

            <img (click)="entrarPrincipal()" src="assets/voltarBtn.png" alt="">
            <h1>CADASTRO DE FUNCIONARIO</h1>

        </div>

        <input type="text" placeholder="NOME">
        <input type="text" placeholder="SENHA">
        <input type="text" placeholder="EMAIL">
        <input type="text" placeholder="CPF">
        <input type="text" placeholder="EMAIL">

        <button>AVANÇAR</button>

    </div>

</div>