<div class="main">

    <div class="formulario">

        <div class="iconeVoltar">

            <img (click)="entrarPrincipal()" src="assets/voltarBtn.png" alt="">
            <h1>CADASTRO DE CLIENTE</h1>

        </div>

        <input [(ngModel)]="cliente.nome" type="text" placeholder="NOME">
        <input [(ngModel)]="cliente.cpf" type="text" placeholder="CPF">
        <input [(ngModel)]="cliente.telefone" type="text" placeholder="TELEFONE">
        <input [(ngModel)]="cliente.email" type="text" placeholder="EMAIL">

        <button (click)="entrarCadEndereco()" >AVANÇAR</button>

    </div>

</div>