<div class="main">

    <div class="formulario">

        <div  class="iconeVoltar">

            <img (click)="entrarPrincipal()" src="assets/voltarBtn.png" alt="">
            <h1>NOVA REVISÃO</h1>

        </div>

        <input type="text" placeholder="PLACA DO VEICULO">

        <div class="tipoRevisao">

            <div class="rev">
                <input type="radio" name="revisao" value="R" Masculino>
                <p>
                    REVISÃO
                </p>
            </div>

            <div class="def">
                <input type="radio" name="revisao" value="D" Masculino>
                <p>
                    DEFEITO
                </p>
            </div>


        </div>


        <div class="obs">


            <textarea name="" id="" placeholder="  
    ESCREVA AQUI AS OBSERVAÇÕES ..."></textarea>



        </div>

        <button>CONFIRMAR</button>

    </div>

</div>