<div class="main">

    <div class="formulario">

        <div class="iconeVoltar">

            <img (click)="entrarPrincipal()" src="assets/voltarBtn.png" alt="">
            <h1>ENDEREÇO</h1>

        </div>

        <input type="text" placeholder="CEP">

        <button style="background-color: #9B0025;">BUSCAR</button>

        <input type="text" placeholder="LOGRADOURO">
        <input type="text" placeholder="BAIRRO">
        <input type="text" placeholder="LOCALIDADE">
        <input type="text" placeholder="UF">

        <button>AVANÇAR</button>

    </div>

</div>