<div class="main">

    <div class="formulario">

        <div class="iconeVoltar">

            <img (click)="entrarPrincipal()" src="assets/voltarBtn.png" alt="">
            <h1>CADASTRO DE VEICULO</h1>

        </div>

        <input type="text" placeholder="PLACA VEICULO">

        <button style="background-color: #9B0025;">BUSCAR</button>

        <input type="text" placeholder="MODELO">
        <input type="text" placeholder="MARCA">
        <input type="text" placeholder="ANO">
        <input type="text" placeholder="COR">
        <input type="text" placeholder="UF">
        <input type="text" placeholder="COMBUSTIVEL">
        <input type="text" placeholder="CHASSI">
        <input type="text" placeholder="SEGMENTO">

        <button>AVANÇAR</button>

    </div>

</div>